.bookContain{
    .addBookBtn{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }
.displayCard{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .MuiCard-root{
        width: 200px;
        margin: 20px;
    }
    h4{
        display: flex;
        justify-content: flex-start;
    }
    p{
        display: flex;
        justify-content: flex-start;
        margin: 0 15px;
    }
    .MuiButtonBase-root{
        background-color: #A03037;
        margin: 20px;
    }
    .MuiButtonBase-root:hover{
        background-color: #A03037;
    }
    .MuiButton-label{
        color: white;
    }
    .MuiPaper-root{
        height: auto;
    }
    #noImage{
        height: 120px;
        width: 90px;
        display: block;
        margin: auto;
    }
    #imageContain{
        background-color: #F5F5F5;
        height: 170px;
        display: flex;
    }
    .MuiPaper-rounded{
        border-radius: 2px;
    }
    #imageCard{
        padding: 0;
    }
    #detailsCard{
        padding-bottom: none;
        padding: 10px !important;
    }
    #author{
        font-size: 11px;
        color: grey;
    }
    #price{
        font-size: 12px;
        font-weight: 700;
        padding-top: 7px;
    }
}