.bookContain{
    .addBookBtn{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 71%;
    }
.displayCard{
    width: 75%;
    margin: 0 auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    .MuiCard-root{
        width: 220px;
        margin: 20px;
    }
    h4{
        display: flex;
        justify-content: flex-start;
    }
    p{
        display: flex;
        justify-content: flex-start;
        margin: 0 15px;
    }
    .MuiButtonBase-root{
        background-color: #A03037;
        margin: 20px;
    }
    .MuiButtonBase-root:hover{
        background-color: #A03037;
    }
    #addBook{
        color: white;
        margin: 20px 0 !important;
    }
    .MuiPaper-root{
        height: auto;
    }
    #noImage{
        height: 120px;
        width: 90px;
        display: block;
        margin: auto;
    }
    #imageContain{
        background-color: #F5F5F5;
        height: 170px;
        display: flex;
    }
    .MuiPaper-rounded{
        border-radius: 2px;
    }
    #imageCard{
        padding: 0;
    }
    #detailsCard{
        padding-bottom: none;
        padding: 10px !important;
    }
    #author{
        font-size: 11px;
        color: grey;
    }
    #price{
        font-size: 12px;
        font-weight: 700;
        padding-top: 7px;
    }
    .btnContainer{
        display: flex;
        justify-content: space-between;
    }
    #myOrders{
        display: flex;
        justify-content: flex-start;
    }
    #update , #delete {
        height: 25px;
        border-radius: 1px;
        box-shadow: none;
    }
    #updateDone{
        width: 50%;
        background-color: cornflowerblue;
        height: 25px;
        border-radius: 1px;
        box-shadow: none;
        color: white !important;
        margin: 20px 0 !important;
    }
    #deleteDone{
        width: 42%;
        background-color: white;
        height: 25px;
        border-radius: 1px;
        box-shadow: none;
        color: black !important;
        margin: 20px 0 !important;
    }
    #update{
        color: white !important;
    }
    .MuiButton-label{
        font-size: 10px;
    }
    #delete{
        background-color: white !important;
    }
    .MuiInputBase-root{
        margin: 20px 0px !important;
    }
    #books{
        margin: 15px 0px !important;
    }
}
.pagination{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: auto;
    width: 73%;
}
.page-item{
    margin: 5px;
    font-size: 20px;
    border: 1px solid blue;
    padding: 10px;
}
.MuiNativeSelect-root {
    outline: 1px solid;
    width: 100px !important ;
    font-size: 10px !important;
    font: none !important ;
}
@media only screen and (max-width: 600px){
    .addBookBtn{
        margin: 0 auto !important;
        #books{
            font-size: 15px;
        }
        .MuiSelect-root{
            font-size: 15px;
        }
        .MuiInputBase-root{
            margin: 10px 0px !important;
        }
        .MuiFormControl-root{
            width: 40% !important;
        }
    }
    #addBook{
        margin: 20px 0 !important;
    }
    .MuiPaper-root, .MuiCard-root{
        width: 100% !important;
    }
    .MuiNativeSelect-root{
        padding: 0px !important;
        height: 25px !important;
    }
}